.WMSpoofer-container {
    display: flex;
    flex-direction: column;
}

.WMSpoofer-status-container {
    display: flex;
    flex-direction: column;

    font-family: "Roboto Mono", monospace;
}

.WMSpoofer-border {
    border-left: 24px solid grey;

    padding-left: 8px;
}