@media screen and (max-width: 992px) {
  .App {
    min-height: 100vh;

    display: grid;
    grid-template-areas: "content";
    grid-template-columns: 1fr;
  }

  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 10;

    transform: translateX(-100%);

    transition: 0.5s;
  }

  .App-menu-open {
    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 5;
    font-size: 48px;
    cursor: pointer;
  }

  .App-menu-close {
    position: absolute;
    top: 16px;
    left: 16px;
    font-size: 48px;
    cursor: pointer;
  }
}

@media screen and (min-width: 992px) {
  .App {
    min-height: 100vh;

    display: grid;
    grid-template-areas: "nav content";
    grid-template-columns: 400px auto;
  }

  .App-menu-close {
    display: none;
  }

  .App-menu-open {
    display: none;
  }
}

.sidebar {
  grid-area: nav;
  box-sizing: border-box;

  background-color: #7ac4bb;

  width: 400px;

  padding: 16px;

  border-right: 1px solid black;
}

.sidebar-header {
  text-align: center;
}

.content {
  grid-area: content;
  box-sizing: border-box;

  background-color: #f2f2ee; /* Maybe?!?! */

  flex-grow: 1;

  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 48px;
  padding-left: 48px;
}
