.App {
  min-height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dollar-sign-image {
  display: block;
  max-width: 50%;
  margin: auto;
}

.sidebar {
  box-sizing: border-box;

  min-width: 250px;
  width: 400px;

  background-color: #7ac4bb;

  padding: 16px;

  border-right: 1px solid black;
}

.sidebar-header {
  text-align: center;
}

.content {
  box-sizing: border-box;

  background-color: #f2f2ee; /* Maybe?!?! */

  flex-grow: 1;

  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 64px;
  padding-left: 64px;
  
}

.content-inner {
  max-width: 900px;
  margin: auto;
}