.container {
    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 16px;

    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.4);
    background-color: rgba(80, 80, 80, 0.5);
}